## 1 SQL-Übungsaufgaben - SQL-Basics

### Aufgabe 1
Verbinden Sie sich mit dem Datenbank Server. Die Credentials dafür sind:
- host: 
- Port: 5432
- database: mondial
- user: student
- password: Inf20ormatik
- driver: postgres

### Aufgabe 2: 
Wie viele Zeilen hat die Relation `country`?

### Aufgabe 3:
Geben Sie die Zahl der Länder an, die in der Relation `country` eingetragen sind.

### Aufgabe 4: 
Gib alle Länder aus, die mehr als 100 Millionen Einwohner haben. Zeige den Ländernamen und die Einwohnerzahl an.

### Aufgabe 5:
Gib die Namen aller Länder in Europa aus.

### Aufgabe 6: 
Gib die zehn Länder mit der höchsten Bevölkerung aus.

### Aufgabe 7: 
Gib alle Städte in Deutschland und in einer weiteren Anfrage die Anzahl der Städte aus.

### Aufgabe 8: 
Gib alle Länder aus, die Mitglied der UNO sind.

### Aufgabe 9: 
Schreibe eine SQL-Abfrage, die alle Länder abruft, deren Name mit dem Buchstaben 'A' beginnt.

### Aufgabe 10:
Schreibe eine SQL-Abfrage, die die Namen aller Länder abruft, die in Südamerika liegen, und sortiere sie nach ihrer Fläche in aufsteigender Reihenfolge.

### Aufgabe 11: 
Schreibe eine SQL-Abfrage, die den Namen und die Regierungsform aller Länder abruft, die eine Republik sind.