## 2 SQL-Übungsaufgaben – Joins und Pattern Matching

### Aufgabe 1:
**Frage:**
Gib alle Länder aus, deren Name mit dem Buchstaben „A“ beginnt.

**Lösung:**

In [2]:
SELECT name
FROM Country
WHERE name LIKE 'A%';

SyntaxError: invalid syntax (1202339456.py, line 1)

### Aufgabe 2:

**Frage:**
Gib alle Städte aus, deren Name auf „burg“ endet.

**Lösung:**

In [ ]:
SELECT name
FROM City
WHERE name LIKE '%burg';

### Aufgabe 3:
**Frage:**
Gib alle Länder aus, die entweder in Europa oder in Asien liegen.

**Lösung:**

In [ ]:
SELECT name
FROM Country
WHERE continent = 'Europe' OR continent = 'Asia';

### Aufgabe 4:

**Frage:**
Finde alle Flüsse, deren Name den Buchstaben „a“ enthält.

**Lösung:**

In [ ]:
SELECT name
FROM River
WHERE name LIKE '%a%';

### Aufgabe 5:
**Frage:**
Gib alle Länder aus, deren BIP größer als 1000 und deren Bevölkerung größer als 50 Millionen ist.

**Lösung:**

In [ ]:
SELECT name, gdp, population
FROM Country
WHERE gdp > 1000 AND population > 50000000;

### Aufgabe 6:
**Frage:**
Gib alle Länder zusammen mit dem Namen ihrer Hauptstadt aus.

**Lösung:**

In [ ]:
SELECT c.name AS Land, ci.name AS Hauptstadt
FROM Country c, City ci
WHERE c.capital = ci.id;

### Aufgabe 7:
**Frage:**
Gib alle Flüsse mit dem Namen der Länder aus, durch die sie fließen.

**Lösung:**

In [ ]:
SELECT r.name AS Fluss, c.name AS Land
FROM River r, GeoRiver gr, Country c
WHERE r.name = gr.river AND gr.country = c.code;

### Aufgabe 8:
**Frage:**
Gib alle Städte mit dem Namen des Kontinents des jeweiligen Landes aus.

**Lösung:**

In [ ]:
SELECT ci.name AS Stadt, co.continent
FROM City ci, Country co
WHERE ci.country = co.code;

### Aufgabe 9:
**Frage:**
Gib alle Länder und die Namen der Organisationen aus, in denen sie Mitglied sind.

**Lösung:**

In [ ]:
SELECT c.name AS Land, o.name AS Organisation
FROM Country c, isMember m, Organization o
WHERE c.code = m.country AND m.organization = o.abbreviation;

### Aufgabe 10:
**Frage:**
Gib den Namen jedes Flusses und die Hauptstadt jedes Landes aus, das dieser Fluss durchquert.

**Lösung:**

In [ ]:
SELECT r.name AS Fluss, ci.name AS Hauptstadt
FROM River r, GeoRiver gr, Country c, City ci
WHERE r.name = gr.river AND gr.country = c.code AND c.capital = ci.id;

### Aufgabe 11:
**Frage:**
ib alle Seen aus, deren Fläche größer als 10.000 ist.

**Lösung:**

In [ ]:
SELECT name, area
FROM Lake
WHERE area > 10000;

### Aufgabe 12:
**Frage:**
Gib alle Länder aus, in denen Englisch als Sprache gesprochen wird.

**Lösung:**

In [ ]:
SELECT DISTINCT c.name
FROM Country c, speaks s
WHERE c.code = s.country AND s.language = 'English';

### Aufgabe 13:
**Frage:**
Gib die Religionen und die zugehörigen Länder in Afrika aus.

**Lösung:**

In [ ]:
SELECT DISTINCT r.religion, c.name AS Land
FROM Country c, religion r
WHERE c.code = r.country AND c.continent = 'Africa';

### Aufgabe 14:
**Frage:**
Gib alle Wüsten und die Länder aus, in denen sie vorkommen.

**Lösung:**

In [ ]:
SELECT d.name AS Wueste, c.name AS Land
FROM Desert d, geoDesert gd, Country c
WHERE d.name = gd.desert AND gd.country = c.code;