 ### 2 SQL-Übungsaufgaben -  Joins und Pattern Matching



#### Aufgabe 1: 

Schreiben Sie eine SQL-Abfrage, die alle Länder aus der Tabelle country anzeigt, deren Name mit dem Buchstaben „A“ beginnt.



#### Aufgabe 2:

Suchen Sie alle Seen (lake.name), deren Name genau vier Zeichen lang ist.

#### Aufgabe 3: 

Finden Sie alle Berge (mountain.name), die „Mount“ im Namen enthalten, zusammen mit ihrer Höhe (elevation).

#### Aufgabe 4: 

Listen Sie alle Städte (city.name) auf, die „ville“ im Namen enthalten, und geben Sie die jeweilige Einwohnerzahl (population) aus.

#### Aufgabe 5:

Erstellen Sie eine Abfrage, die alle Hauptstädte mit „new“ im Namen und das zugehörige Land (country.name) anzeigt.

#### Aufgabe 6: 

Finden Sie alle Länder (country.name), in deren Namen zwei aufeinanderfolgende Vokale (z. B. „aa“, „ee“, „oo“) vorkommen.

#### Aufgabe 7: 

Geben Sie alle Flüsse (river.name) aus, deren Name mit „A“ beginnt und die durch mindestens zwei verschiedene Länder fließen. Nutzen Sie hierfür einen Join mit der geography-Tabelle.

#### Aufgabe 8: 

Finden Sie alle Hauptstädte (city.name), die in ihrem Namen die Zeichenfolge „burg“ enthalten. Nutzen Sie dabei einen Join mit der country-Tabelle.

#### Aufgabe 9:

Ermitteln Sie alle Flüsse (river.name), deren Name auf „-er“ endet.

#### Aufgabe 10: 

Ermitteln Sie alle Flüsse (river.name), deren Name auf „-er“ endet.