### 2 SQL-Übungsaufgaben - Joins und Pattern Matching

#### Aufgabe 1: 
**Frage:**  
Schreiben Sie eine SQL-Abfrage, die alle Länder aus der Tabelle country anzeigt, deren Name mit dem Buchstaben „A“ beginnt.

**Lösung**

In [ ]:
SELECT name 
FROM country 
WHERE name LIKE 'A%';

#### Aufgabe 2: 
**Frage:**  
Finden Sie alle Hauptstädte (city.name), die in ihrem Namen die Zeichenfolge „burg“ enthalten. Nutzen Sie dabei einen Join mit der country-Tabelle.

**Lösung**

In [ ]:
SELECT city.name FROM city 
JOIN country ON city.id = country.capital 
WHERE city.name LIKE '%burg%';

#### Aufgabe 3: 
**Frage:**  
Aufgabe: Ermitteln Sie alle Flüsse (river.name), deren Name auf „-er“ endet.

**Lösung**

In [ ]:
SELECT name 
FROM river 
WHERE name LIKE '%er';

#### Aufgabe 4: 
**Frage:**  
Geben Sie alle Länder aus, die „land“ im Namen enthalten, zusammen mit ihrer Bevölkerung (population).

**Lösung**

In [ ]:
SELECT name, population 
FROM country 
WHERE name LIKE '%land%';

#### Aufgabe 5: 
**Frage:**  
Suchen Sie alle Seen (lake.name), deren Name genau vier Zeichen lang ist.

**Lösung**

In [ ]:
SELECT name 
FROM lake 
WHERE name LIKE '____';

#### Aufgabe 6: 
**Frage:**  
Finden Sie alle Berge (mountain.name), die „Mount“ im Namen enthalten, zusammen mit ihrer Höhe (elevation).

**Lösung**

In [ ]:
SELECT name, elevation 
FROM mountain 
WHERE name LIKE '%Mount%';

#### Aufgabe 7: 
**Frage:**  
Aufgabe: Listen Sie alle Städte (city.name) auf, die „ville“ im Namen enthalten, und geben Sie die jeweilige Einwohnerzahl (population) aus.

**Lösung**

In [ ]:
SELECT name, population 
FROM city 
WHERE name LIKE '%ville%';

#### Aufgabe 8: 
**Frage:**  
Erstellen Sie eine Abfrage, die alle Hauptstädte mit „new“ im Namen und das zugehörige Land (country.name) anzeigt.

**Lösung**

In [ ]:
SELECT city.name, country.name FROM city 
JOIN country ON city.id = country.capital 
WHERE city.name LIKE '%new%';


#### Aufgabe 9: 
**Frage:**  
Finden Sie alle Länder (country.name), in deren Namen zwei aufeinanderfolgende Vokale (z. B. „aa“, „ee“, „oo“) vorkommen.

**Lösung**

In [ ]:
SELECT name 
FROM country 
WHERE name ~* '[aeiou]{2}';

#### Aufgabe 10: 
**Frage:**  
Aufgabe: Geben Sie alle Flüsse (river.name) aus, deren Name mit „A“ beginnt und die durch mindestens zwei verschiedene Länder fließen. Nutzen Sie hierfür einen Join mit der geography-Tabelle.

**Lösung**

In [ ]:
SELECT river.name FROM river 
JOIN geography ON river.id = geography.river 
GROUP BY river.name 
HAVING COUNT(DISTINCT geography.country) >= 2 
AND river.name LIKE 'A%';