## SQL-Übungsaufgaben – Aggregatfunktionen Lösungen

### Aufgabe 1: Anzahl aller Länder
Wie viele Länder sind in der Datenbank enthalten?

In [ ]:
SELECT COUNT(*) AS AnzahlLaender
FROM Country;

### Aufgabe 2: Anzahl der Städte
Wie viele Städte sind insgesamt in der Datenbank enthalten?

In [ ]:
SELECT COUNT(*) AS AnzahlStaedte
FROM City;

### Aufgabe 3: Durchschnittliche Fläche aller Länder
Wie groß ist die durchschnittliche Fläche aller Länder?

In [ ]:
SELECT AVG(area) AS Durchschnittsflaeche
FROM Country;

### Aufgabe 4: Gesamtbevölkerung aller Länder
Wie hoch ist die gesamte Bevölkerung weltweit?

In [ ]:
SELECT SUM(population) AS Weltbevoelkerung
FROM Country;

### Aufgabe 5: Stadt mit der höchsten Einwohnerzahl
Welche Stadt hat die meisten Einwohner?

In [ ]:
SELECT name, population
FROM City
WHERE population = (
  SELECT MAX(population)
  FROM City
);

### Aufgabe 6: Längster Fluss
Wie heißt der längste Fluss in der Datenbank?

In [ ]:
SELECT name, length
FROM River
WHERE length = (
  SELECT MAX(length)
  FROM River
);

### Aufgabe 7: Organisation mit frühester Gründung
Welche Organisation wurde als erstes gegründet?

In [ ]:
SELECT name, established
FROM Organization
WHERE established = (
  SELECT MIN(established)
  FROM Organization
);

### Aufgabe 8: Länder mit überdurchschnittlicher Bevölkerung
Welche Länder haben mehr Einwohner als der Durchschnitt aller Länder?

In [ ]:
SELECT name, population
FROM Country
WHERE population > (
  SELECT AVG(population)
  FROM Country
);

### Aufgabe 9: Städte unter dem Durchschnitt
Welche Städte haben weniger Einwohner als der Durchschnitt aller Städte?

In [ ]:
SELECT name, population
FROM City
WHERE population < (
  SELECT AVG(population)
  FROM City
);

### Aufgabe 10: Länder mit überdurchschnittlichem BIP
Welche Länder haben ein höheres BIP als der Durchschnitt aller Länder?

In [ ]:
SELECT name, gdp
FROM Country
WHERE gdp > (
  SELECT AVG(gdp)
  FROM Country
);