## 3. Komplexe Anfragen

### 1. Aggregerierungsfunktionen

- Aggregierung: 

    Zusammenfassunger einer Menge von Werten einer Spalte einer Tabelle zu einem Wert.

- Funktionen:

    COUNT, MIN, MAX, SUM,AVG

#### `COUNT`

Funktion:

Zählen von Werten, insbesondere auch von Zeilen einer Tabelle

Beispiel:

Wie viele Länder der „EU“ sind aufgeführt?

Anfrage:

```sql
SELECT COUNT(*)
FROM is_memberWHERE 
WHERE organization = “EU“
```

Allgemeine Syntax:

```sql
SELECT COUNT (spalte1, spalte2, ...)
FROM tabelle
WHERE ...
```

Bemerkung:

Zeilen mit NULL-Werten werden mitgezählt.

#### `MIN` oder `MAX`

Funktion:

Minimalwert bzw. Maximalwert einer Spalte in einer Tabelle bestimmen.

Beispiel:

Wie viele Einwohner leben in der größten deutschen Stadt? 

Anfrage:

```sql
SELECT MAX(population)
FROM city
WHERE country = “DE“
```

Allgemeine Syntax:
```sql
SELECT MIN(spalte) / MAX(spalte)
FROM tabelle
WHERE ...
````

Bemerkung:

Für die Auswertung wird die Tabelle als Ganzes betrachtet.
In einer Anfrage mit Aggregierungsfunktion dürfen in der SELECT-Klausel nur ausschließlich Aggregierungsfunktionen stehen!

#### `SUM`und `AVG`

Funktion:

Summe und Durchschnitt der Werte einer Spalte in einer Tabelle bestimmen.

Beispiel:

Wieviele Einwohner leben durchschnittlich in allen Städten?

Anfrage:
```sql
SELECT AVG(population)
FROM city
````

Allgemeine Syntax:

```sql
SELECT AVG(spalte), SUM(spalte)
FROM tabelle
WHERE ...
````
Bemerkung:

1. Für die Auswertung wird die Tabelle als ganzes betrachtet.
2. Eine Aggregierungsfunktion => nur Aggregierungsfunktion in der SELECT-Klausel

#### Vorsicht 
Wie hoch sind die durchschnittlichen Einwohnerzahlen in den Städten der einzelnen Länder?

Anfrage:
```sql
SELECT country, AVG(population)
FROM city

Ergebnis:

Fehlermeldung

### 2. Gruppierungen

- Eine Gruppierung ist eine virtuelle Struktur, die über eine Tabelle gelegt wird.
- Auswahl einer Teilmenge der Spalten der betrachteten Tabelle mit `GROUP BY`-Klausel
- Gruppierung der Zeilen, in denen bezüglich der Grupperierungsspalten gleiche Werte vorliegen


Beispiel:
```sql
SELECT country, AVG(population)
FROM city
GROUP BY country;
```
Ergebnis:

 <center> 

| Country| AVG(population)   | 
| ----------------- | ------ | 
| A              | 304315.6250| 
| AFG               | 892000.0000 | 
| AG | 36000.0000
| AL            |  79166.6667 |

 </center>

#### Zusätzliche Bedingungen zur Gruppierung

Es lassen sich mit der `HAVING`-Klausel zusätzliche Bedingungen bezüglich der Gruppierung formulieren.

Beispiel:

In welchen Ländern ist die durchschnittliche Einwohnerzahl in den Städten kleiner als 100.000?

Anfrage:
```sql
SELECT country, AVG(population)
FROM city
GROUP BY country
HAVING AVG(population) < 100000
````

### 3. Komplexe Anfragen

Beispiel:

Welches sind die drei höchsten Einwohnerzahlen aller Städte?

Anfrage:
```sql
SELECT MAX(a.population), MAX(b.population), MAX(c.poulation)
FROM city a, city b, city c
WHERE (a.population > b.population) AND (b.population > c.population)
```

Idee:

Zusammenfassung in Gruppen derjenigen Zeilen, die in der Spalte `country` den gleichen Eintrag haben.
Auswertung der Teilgruppen bezüglich der Aggregierungsfunktion.