## 4. Nullwerte

Beispiel:

Gib zu jedem Land den Anteil der Industrie und der Landwirtschaft am  Bruttosozialprodukt an.

Anfrage:
```sql
SELECT country, industry, agriculture
FROM economy
```
Ergebnis:

 <center> 

| country | industry  | agriculture | 
| :-----------------: |:------:|:-------:|
| ...             | ...   | ...   | 
| AG              | 19.3 | 3.5 | 
| AL            | NULL  | 55 |
| AND           | NULL  | NULL |
| ...               | ...  | ...   | 


 </center>  

Bedeutung:

+ Wert existiert aber nicht bekannt
+ Wert existiert erst in Zukunft
+ Wert nicht eingetragen
+ Wert existiert nicht
+ Attribut nicht anwendbar

Ergebnis:

|country | industry | agriculture|
|:--------:|:----------:|:------------:|
| ...    | ... | ...|
|


Bedeutung des NULL-Werts


+ Wert existiert aber nicht bekannt
+ Wert existiert erst in Zukunft
+ Wert nicht eingetragen
+ Wert existiert nicht
+ Attribut nicht anwendbar