### 4 SQL-Übungsaufgaben - Gruppierung

#### Aufgabe 1:
Gib alle Kontinente aus, die **mehr als 10 Länder** umfassen.


#### Aufgabe 2:
Gib alle Länder aus, die **mehr als 3 Städte** in der Datenbank enthalten.


#### Aufgabe 3:
Finde alle Länder, in denen die **durchschnittliche Bevölkerung der Städte** über **1.000.000 Einwohner** liegt.


#### Aufgabe 4:
Gib alle Kontinente aus, deren **Gesamtbevölkerung** über **500 Millionen** liegt.


#### Aufgabe 5: 
Liste alle Länder auf, durch die **mehr als 5 unterschiedliche Flüsse** fließen.